.footer {
    background-color: var(--dark-theme-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    margin-bottom: 20px;
}

.logo-link-part {
    color: var(--complementary-color);
}

.adress.section {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.physical-adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--complementary-color);
}

.adress-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-link-color);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--complementary-color);
}

.footer-social-wrapper {
    width: 206px;
    height: 80px;
}

.footer-social-list-link {
    background-color: rgba(255, 255, 255, 0.1);

}

.footer-social-list-icon {
    fill: var(--complementary-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-subscription-form-subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--complementary-color);
    font-weight: 700;
}

.footer-subscription-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--dark-theme-background);
    padding: 15px 16px;
    color: var(--complementary-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.footer-subscription-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 13px;
    margin-left: 12px;
}

.footer-subscription-icon {
    margin-left: 10px;
}

.footer-subscription-wrapper {
    width: 570px;
    height: 86px;
}

.footer-form-item {
    display: flex;
}